name: Prettier format

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      
      - name: Install tailwind plugin
        run: "npm i prettier-plugin-tailwindcss"

      - name: Check if code is pretty
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: "--c ."
          prettier_plugins: "prettier-plugin-tailwindcss"
          
